/*
 * @FilePath src/styles/element-variables.scss
 * @Created Bay丶<baizhanying@autobio.com.cn> 2021-05-07 15:36:12
 * @Modified Bay丶<baizhanying@autobio.com.cn> 2021-05-07 15:38:48
 * @Description element-ui 主题自定义
 */

/* 改变主题色变量 */
$--color-primary: teal;

/* 改变 icon 字体路径变量，必需 */
$--font-path: "~element-ui/lib/theme-chalk/fonts";

@import "~element-ui/packages/theme-chalk/src/index";

:export {
  theme: $--color-primary;
}
